._57-x{padding:36px 0;text-align:center}
.sp_Jc8OKpJq5NW_1_5x{background-image:url(/rsrc.php/v3/yG/r/UH9weuH7qba.png);background-size:34px 102px;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_Jc8OKpJq5NW_1_5x.sx_3dc399{background-position:0 0}.sp_Jc8OKpJq5NW_1_5x.sx_ae928b{background-position:0 -34px}.sp_Jc8OKpJq5NW_1_5x.sx_4bdf80{background-position:0 -68px}

#bootloader_y_1dX{height:42px;}.bootloader_y_1dX{display:block!important;}